.contCart {
    position: absolute;
    right: 5rem;
    border-radius: 7px;
    background: #fafaf7;
    min-height: 65vh;
    min-width: 20vw;
    text-align: center;
    top: 5rem;
    transition: transform ease-out 150ms;
}