nav{
    justify-content: space-around;
    display: flex;
    box-sizing: border-box;
    background-color: #304ffe;
    color: white;
    align-items: center;
    user-select: none;

    ul{
        list-style-type: none;
        justify-content: space-around;
        display: flex;
        width: 20%;
    }
    ul li a{
        cursor: pointer;
    }

    ul .icon__navbar{
        cursor: pointer;
        &:hover + .contCart{
            background-color: blue;
        }
    }
    
}