$colorPrincipal: #304ffe;

header{
    position: fixed;
    width: 100%;
    top: 0px;
    nav{
        justify-content: space-around;
        display: flex;
        box-sizing: border-box;
        background-color: $colorPrincipal;
        color: white;
        align-items: center;
        user-select: none;

        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
        }

        ul{
            list-style-type: none;
            justify-content: space-around;
            display: flex;
            width: 40%;
        }
        
    }
}